<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kitap İşlemleri</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/index}">Ana Sayfa</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table table-striped table-bordered table-hover align-middle">
    <thead class="table-dark text-center">
    <tr>
        <th>Kitap ID</th>
        <th>Kitap Adı</th>
        <th>Yazar</th>
        <th>Kategori</th>
        <th>İşlem</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" class="text-center">
        <td th:text="${book.id}"></td>
        <td th:text="${book.name}"></td>
        <td th:text="${book.writer}"></td>
        <td th:text="${book.category}"></td>
        <td>
            <a class="btn btn-danger btn-sm" th:href="@{/bookRegister/delete/{id}(id=${book.id})}">Sil</a>
        </td>
    </tr>
    </tbody>
</table>

<br/><br/><br/>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Başarıyla Kayıt Oldunuz!
                </div>
            </div>
            <div class="card-body">
                <form
                        method="post"
                        role="form"
                        th:action="@{/bookRegister/save}"
                        th:object="${bookDto}"
                >
                    <div class="form-group mb-3">
                        <label class="form-label">Kitabın Adı</label>
                        <input
                                class="form-control"
                                id="firstName"
                                name="firstName"
                                placeholder="Kitabın Adını Girin"
                                th:field="*{name}"
                                type="text"
                        />
                        <p th:errors = "*{name}" class="text-danger"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Yazarın Adı</label>
                        <input
                                class="form-control"
                                id="lastName"
                                name="lastName"
                                placeholder="Yazarın Adını Girin"
                                th:field="*{writer}"
                                type="text"
                        />
                        <p th:errors = "*{writer}" class="text-danger"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Kategori</label>
                        <input
                                class="form-control"
                                id="email"
                                name="email"
                                placeholder="Kitabın Kategorisini Girin"
                                th:field="*{category}"
                                type="text"
                        />
                        <p th:errors = "*{category}" class="text-danger"></p>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Sayfa Sayısı</label>
                        <input
                                class="form-control"
                                id="password"
                                name="password"
                                placeholder="Sayfa Sayısını Giriniz"
                                th:field="*{pageNumber}"
                                type="number"
                        />
                        <p th:errors = "*{pageNumber}" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="save">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>