<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Kitap İşlemleri</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script>
        let selectedRowId = null;

        function selectRow(rowId, bookName, bookWriter, bookPageNumber) {
            selectedRowId = rowId;
            document.getElementById("name").value = bookName;
            document.getElementById("writer").value = bookWriter;
            document.getElementById("pageNumber").value = bookPageNumber;
            document.getElementById("categoryName").value = bookCategoryName;
        }

        function updateRow() {
            if (selectedRowId !== null) {
                document.getElementById(`name-${selectedRowId}`).textContent = document.getElementById("name").value;
                document.getElementById(`writer-${selectedRowId}`).textContent = document.getElementById("writer").value;
                document.getElementById(`pageNumber-${selectedRowId}`).textContent = document.getElementById("pageNumber").value;
                document.getElementById(`categoryName-${selectedRowId}`).textContent = document.getElementById("categoryName").value;
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Kütüphane Bilgi Yönetim Sistemi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container">
    <div class="row col-md-10">
        <h2>Kitap İşlemleri</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Kitap Adı</th>
            <th>Yazarı</th>
            <th>Sayfa Sayısı</th>
            <th>İşlem</th> <!-- Sil butonu için yeni bir sütun başlığı ekledik -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="book, iterStat : ${books}" th:onclick="|selectRow('${iterStat.index}', '${book.name}', '${book.writer}', '${book.pageNumber}', '${book.categoryName}')|">
            <td id="name-${iterStat.index}" th:text="${book.name}"></td>
            <td id="writer-${iterStat.index}" th:text="${book.writer}"></td>
            <td id="pageNumber-${iterStat.index}" th:text="${book.pageNumber}"></td>
            <td id="categoryName-${iterStat.index}" th:text="${book.categoryName}"></td>
            <td>
                <button class="btn btn-danger btn-sm" th:onclick="'/delete/' + ${book.id}">Sil</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="card-body">
        <form
                method="post"
                role="form"
                th:action="@{/register/save}"
                th:object="${book}"
        >
            <div class="form-group mb-3">
                <label class="form-label">Kitabın Adı</label>
                <input
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Kitabın Adını girin"
                        th:field="*{book.name}"
                        type="text"
                />
                <p th:errors = "*{book.name}" class="text-danger"
                   th:if="${#fields.hasErrors('writer')}"></p>
                <label class="form-label">Yazarın Adı</label>
                <input
                        class="form-control"
                        id="writer"
                        name="writer"
                        placeholder="Yazarın Adını girin"
                        th:field="*{book.writer}"
                        type="text"
                />
                <p th:errors = "*{book.writer}" class="text-danger"z
                   th:if="${#fields.hasErrors('Page Number')}"></p>
                <label class="form-label">Sayfa Sayısı</label>
                <input
                        class="form-control"
                        id="pageNumber"
                        name="pageNumber"
                        placeholder="Sayfa Sayısını girin"
                        th:field="*{book.pageNumber}"
                        type="text"
                />
                <p th:errors = "*{book.pageNumber}" class="text-danger"
                   th:if="${#fields.hasErrors('categoryName')}"></p>
                th:if="${#fields.hasErrors('Page Number')}"></p>
                <label class="form-label">Sayfa Sayısı</label>
                <input
                        class="form-control"
                        id="categoryName"
                        name="pageNumber"
                        placeholder="Sayfa Sayısını girin"
                        th:field="*{book.category_name}"
                        type="text"
                />
                <p th:errors = "*{book.category_name}" class="text-danger"
                   th:if="${#fields.hasErrors('categoryName')}"></p>
                <button class="btn btn-primary" type="button" onclick="updateRow()">Kaydet</button>
                <button class="btn btn-primary" type="button">Bul</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
