<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Div Ortalamak</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .centered-div {
            width: 200px;
            height: 200px;
            background-color: lightblue;
            text-align: center;
            line-height: 200px; /* İçeriği dikey olarak ortalamak için */
        }
    </style>
</head>
<body>
<div class="container">
    <div class="centered-div">
        Ortalanmış Div
    </div>
</div>
</body>
</html>
</body>
</html>