<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıtlı Kullanıcılar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Ana Sayfa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Çıkış Yap</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h2 class="text-center">Kayıtlı Kullanıcılar</h2>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover align-middle">
        <thead class="table-dark text-center">
        <tr>
            <th>İsim</th>
            <th>Soyad</th>
            <th>E-posta</th>
            <th>Rol</th>
            <th>İşlem</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" class="text-center">
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${#strings.replace(user.getRoles().get(0).getName(), 'ROLE_', '')}"></td>
            <td>
                <button class="btn btn-warning btn-sm" data-bs-toggle="modal" th:data-bs-target="'#updateModal-' + ${user.getId()}">
                    Güncelle
                </button>
                <a class="btn btn-danger btn-sm" th:href="@{/users/delete/{id}(id=${user.getId()})}">
                    Sil
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modals Section -->
<div th:each="user : ${users}">
    <div class="modal fade" th:id="'updateModal-' + ${user.getId()}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/users/update}" method="post" role="form">
                    <div class="modal-header">
                        <h5 class="modal-title">Kullanıcıyı Güncelle</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="id" th:value="${user.getId()}"/>
                        <div class="mb-3">
                            <label>İsim</label>
                            <input type="text" class="form-control" name="firstName" th:value="${user.getFirstName()}"/>
                        </div>
                        <div class="mb-3">
                            <label>Soyisim</label>
                            <input type="text" class="form-control" name="lastName" th:value="${user.getLastName()}"/>
                        </div>
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" th:value="${user.getEmail()}"/>
                        </div>
                        <div class="mb-3">
                            <label>Şifre</label>
                            <input type="password" class="form-control" name="password" th:value="${user.getPassword()}"/>
                        </div>
                        <div class="mb-3">
                            <label>Rol</label>
                            <select class="form-select" name="role">
                                <option th:value="${role_user.}" th:selected="${user.getRoles().get(0).getName() == role_user.getName()}">Kullanıcı</option>
                                <option th:value="${role_admin}" th:selected="${user.getRoles().get(0).getName() == role_admin.getName()}">Admin</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Kaydet</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log('DOM fully loaded and parsed');
        var modals = document.querySelectorAll('.modal');
        console.log('Number of modals found:', modals.length);
    });
</script>
</body>
</html>